# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/*
.DS_Store
Rivercoin.iml
target/*
structure/*
structure/chain/*
structure/db_tx/*
structure/chain/block[0]
structure/chain/block[0]
structure/chain/block[0]
structure/chain/block[1]
structure/chain/latestblock
structure/db_tx/ledger/1NwxDTT8gywVMmALW3n98sWTCoWyBNWZhQ
