PORT:5110
MAX_CPU_THREADS:3
REWARD_PER_BLOCK:50.0
TOKENS_PER_BLOCK:2999
MINING_DIFFICULTY:3
ALERT_TIME:3000
STRUCTURE_DIRECTORY:.//structure
BLOCKCHAIN_DIRECTORY:.structure//chain
BLOCKCHAIN_TRX_DB:.structure//db_tx
BLOCKCHAIN_WLT_DB:.structure//db_wt
WALLET_DIRECTORY:.other
PEER_FINDER:http://
DEVELOPER_KEY:privatekey
MINING_KEY:privatekey
PUBLIC_KEY:2SCKkx6wgJHfPuMfbwpoyCc3KJMr