PORT:5110
MAX_CPU_THREADS:3
STRUCTURE_DIRECTORY:.//structure
BLOCKCHAIN_DIRECTORY:.structure//chain
BLOCKCHAIN_TRX_DB:.structure//db_tx
BLOCKCHAIN_WLT_DB:.structure//db_wt
WALLET_DIRECTORY:.other
PEER_FINDER:http://riverssen.com/coin/miners/fetch
DEVELOPER_KEY:privatekey
BOOL_PRUNING:TRUE
PUBLIC_KEY:2SCKkx6wgJHfPuMfbwpoyCc3KJMr