<Config>
    <Mining>
        <Address>15Hk9FmrpPb5EY5EE2yigsiqVyLbwmcwDp</Address>
        <Enabled>true</Enabled>
        <GPUMining>false</GPUMining>
        <CPUThreadCount>1</CPUThreadCount>
    </Mining>

    <Network>
        <MaxOutboundConnections>30</MaxOutboundConnections>
        <MaxInboundConnections>30</MaxInboundConnections>
    </Network>

    <Cycles>
        <EnableSystemCrashLogs>false</EnableSystemCrashLogs>
        <MemoryDumpInterval>900</MemoryDumpInterval>
    </Cycles>

    <VM>
        <MaxVirtualSpace>1073741824</MaxVirtualSpace>
        <MaxVirtualMemory>2147483648</MaxVirtualMemory>
    </VM>
</Config>