.tab{
    -fx-background-radius: 0px;
    -fx-background-color: #212E35;
    -fx-background-position: 50px;
}

.mywallet
{
    -fx-background-image: url("content/wallet0.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.mywallet:selected
{
    -fx-background-image: url("content/wallet.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.transactions
{
    -fx-background-image: url("content/exchange0.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.transactions:selected
{
    -fx-background-image: url("content/exchange.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.settings
{
    -fx-background-image: url("content/account0.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.settings:selected
{
    -fx-background-image: url("content/account1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.tab:hover{
    -fx-background-color: #2C383F;
}

.tab:selected
{
    -fx-background-color: #2C383F;
    -fx-background-color: linear-gradient(to left, #2C383F, #2C383F 97.5%, #007CFF 50%, #00C5FF 100%);
}

.send{
    /* -fx-background-color: linear-gradient(#e66465, #9198e5); */
    -fx-background-color: linear-gradient(to left, #00C5FF, #00C5FF 50%, #007CFF);
    -fx-background-radius: 20px;
}

.choice{
    -fx-background-color: #212E35;
    -fx-background-radius: 20px;
}

.list{
    -fx-background-radius: 0px;
    -fx-background-color: #16232B;
}

.text_area{
    -fx-background-color: #212E35;
}

.icons{
    -fx-background-color: linear-gradient(to left, #00C5FF, #00C5FF 50%, #007CFF);
    -fx-blend-mode: screen;
}

.border-pane{
    /* -fx-background-color: #111C22; */
    -fx-background-image: url("content/arrowsmall.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-position: 600px 35px;
}